.body h1 {
  margin-left: 550px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  text-shadow: 5px 5px 5px #888888;
  color: white;
  
}


.infoContainer {

    display: flex;
    
}
.aboutCardTobbe {

  height: 300px;
  width: 300px;
  border-radius: 30px;
  margin-top: 90px;
  margin-left: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 8px #888888;
  background-image: url("Tobzki.JPG");
  background-size: 100%;

}
.aboutCardHakan {

  height: 300px;
  width: 300px;
  border-radius: 30px;
  margin-top: 90px; 
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 8px #888888;
  background-image: url("håkzki.jpg");
  background-size: 110%;

}

.hakanTitle {

float: none;
color: black;
margin-left: 340px;
text-shadow: 5px 5px 5px #888888;
}

.hakanTitleBottom {

  float: none;
  color: black;
  margin-left: 340px;
  text-shadow: 5px 5px 5px #888888;
  }

.tobbeTitle {

    float: none;
    color: black;
    margin-left: 850px;
    margin-bottom: 40px;
    margin-top: -90px;
    text-shadow: 5px 5px 5px #888888;
    }
    
.tobbeTitleBottom {
    
      float: none;
      color: black;
      margin-left: 850px;
      margin-top: -25px;
      text-shadow: 5px 5px 5px #888888;
      }
    


