.auth-form {

    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
    position: absolute;
    top: 120px;
    right: 190px;
    font-size: 20px;
    
}

.form-control label,
.form-control input {

    width: 100%;
    display: block;
    border-radius: 7px;

}

.form-control{

    margin-bottom: 1rem;
    

}

.form-control label {

    margin-bottom: 0.5rem;
}

.form-actions button {

    background: green;
    font: inherit;
    border: 1px solid green;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;

}

.form-actions button:hover,
.form-actions button:active {

    background: yellowgreen;
    border-color: yellowgreen;
}