.main-content {

    margin: 4rem 2.5rem;
    

}

.title_login {

    color: white;
    position: absolute;
    top: 70px;
    right: 150px;
    font-size: 40px;
    text-shadow: 2px 2px green;

}
.title_login-play {

    color: white;
    position: absolute;
    top: 125px;
    right: 230px;
    font-size: 24px;
    font-style: italic;
    
}